<div class="contact">
    <div class="conteiner_contact">
        <div class="contact_text">
            <h2>Contact Us</h2>
            <h4>Most calendars are designed for teams. <br>
                Slate is designed for freelancers</h4>
        </div>
        <div class="contact_form">

            <div class="form">
                <form class="decor">
                    <div class="form-inner">
                    <h3><b>Contact Us</b></h3>
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email">
                    <textarea placeholder="Your Message" rows="3"></textarea>
                    <input type="submit" value="Send">
                    </div>
                    </form>
            </div>
            <div class="contact_form2">

                <div class="contact_icon">

                    <div class="contact_icon_class">
                        <img src="./assets/img/bx_bx-map.png" alt="">
                        <h6>6386 Spring St undefined Anchorage, <br>
                            Georgia 12473 United States</h6> 
                    </div>
                    <div class="contact_icon_class">
                        <img src="./assets/img/ic_baseline-phone-android.png" alt="">
                        <h6>(843) 555-0130</h6>

                    </div>
                    <div class="contact_icon_class">
                        <img src="./assets/img/ant-design_mail-outlined.png" alt="">
                        <h6><br> willie.jennings@example.com</h6>
                    </div>
                </div>


                <div><img class="map" src="./assets/img/@ map screen.png" alt=""></div>

                <div class="ant_design">
                    <img src="./assets/img/ant-design_twitter-outlined.png" alt="">
                    <img src="./assets/img/ant-design_facebook-filled.png" alt="">
                    <img src="./assets/img/ant-design_linkedin-filled.png" alt="">
                </div>

            </div>
        </div>
    </div>
</div>