<h2 class="features">Features</h2>
<h4 class="features_text">Most calendars are designed for teams.
    <br> Slate is designed for freelancers</h4>

<div class="features_text2">

    <div class="features_block">
        <img src="./assets/img/Vector5.png" alt="">
        <h3> <b>OpenType features <br> Variable fonts</b></h3>
        <h6>Slate helps you see how <br>
            many more days you need <br>
            to work to reach your <br>
            financial goal.</h6>
    </div>

    <div class="features_block">
        <img src="./assets/img/mdi_draw.png" alt="">
        <h3> <b>Design with real data</b> </h3>
        <h6>Slate helps you see how <br>
            many more days you need <br>
            to work to reach your <br>
            financial goal.</h6>
    </div>

    <div class="features_block">
        <img src="./assets/img/Vector4.png" alt="">
        <h3><b> Fastest way to take action</b></h3>
        <h6>Slate helps you see how <br>
            many more days you need <br>
            to work to reach your <br>
            financial goal.</h6>
    </div>
</div>


<img class="screen" src="assets/img/screen.png" alt="">