<!-- footer -->
<div class="footer">
    <div class="footer_conteiner">
        <div class="footer_fon">
            <div class="fotter_cont">

                <div class="fotter_cont_text">
                    <h3>Pages </h3>
                    <li><a href="">Home</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </div>

                <div class="fotter_cont_text">
                    <h3>Tomothy </h3>
                    <li><a href="">Eleanor Edwards</a></li>
                    <li><a href="">Ted Robertson</a></li>
                    <li><a href="">Annette Russell</a></li>
                    <li><a href="">Jennie Mckinney</a></li>
                    <li><a href="">Gloria Richards</a></li>
                </div>

                <div class="fotter_cont_text">
                    <h3>Jane Black</h3>
                    <li><a href="">Philip Jones</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Colleen Russell</a></li>
                    <li><a href="">Marvin Hawkins</a></li>
                    <li><a href="">Bruce Simmmons</a></li>
                </div>

            </div>

            <div class="footer_icon">
                <div class="conteiner_phone">
                    <div class="map_phone">
                        <img src="./assets/img/bx_bx-map2.png" alt="">
                        <h6>7480 Mockingbird Hill undefined </h6>
                    </div>
                    <div class="map_phone2">
                        <img src="./assets/img/ic_baseline-phone-android2.png" alt="">
                        <h6>(239) 555-0108</h6>
                    </div>
                </div>

                <div class="footer_img">
                    <img src="./assets/img/ant-design_twitter-outlined2.png" alt="">
                    <img src="./assets/img/ant-design_facebook-filled2.png" alt="">
                    <img src="./assets/img/ant-design_linkedin-filled2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
