<div class="header">
    <div class="conteiner">
        <div class="content_menu">

            <div class="menu">

                <ul class="desktop_menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>


                <div class="header_rectangle">
                    <img src="./assets/img/Rectangle 4.png" alt="">
                </div>
            </div>


            <div class="header_vector">
                <img src="./assets/img/Vector3.png" alt="">
                <img src="./assets/img/Vector2.png" alt="">
                <img src="./assets/img/Vector (1).png" alt="">
            </div>
        </div>

        <h1 class="text_content_h1">The best products <br> start with Figma</h1>
        <h4 class="text_content_h4">Most calendars are designed for teams. Slate is designed
            <br> for freelancers</h4>

        <button class="button1">Try For Free</button>


    </div>
</div>